<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新用户信息</title>
</head>
<body>

<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home">更新用户</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home" style="margin: 30px 0">
        <table border="0">
            <form  role="form" action="/user/userupdate?id={{.roles.Id}}" method="post">

                <tr>用户名：<input class="form-control" width="400px" type="text" name="username" value="{{.roles.Username}}"></tr>
                <tr>真实姓名:<input class="form-control" width="400px" type="text" name="name" value="{{.roles.Name}}"></tr>
                <tr>角色:<input class="form-control" width="400px" type="text" name="role"value="{{.roles.Role}}"></tr>
                <tr>所属产品线:<input class="form-control" width="400px" type="text" name="line" value="{{.roles.Line}}"></tr>
                <tr>部门:<input class="form-control" width="400px" type="text" name="section" value="{{.roles.Section}}"></tr>
                <tr><input type="submit" value="更新"></tr>

            </form>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
</div>

</body>
</html>